NEXT_PUBLIC_SITE_URL=https://grogonsacco.co.ke
NEXT_PUBLIC_APP_ORIGIN=https://grogonsacco.co.ke
NEXT_PUBLIC_BACKEND_URL=https://server.grogonsacco.co.ke
NEXT_PUBLIC_API_URL=https://server.grogonsacco.co.ke
NEXT_PUBLIC_API_BASE_URL=https://server.grogonsacco.co.ke
